@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("font-awesome.min.css");

@font-face {
    font-family: Harabara;
    local: Harbara;
    src: url(../assets/fonts/Harabara.ttf);
}

/******** remove link decorations ********/
a {
    text-decoration: none;
    color: #333333;
}

image.round {
    border-radius: 50%;
}

.md-icon-button {
    font-size: 1.0em;
}

.md-button.small {
    min-width: 10px;
    margin: 0;
}

.md-datepicker-calendar-pane {
    z-index: 1000;
}

.dialogue-wide {
    width: 95%;
    max-width: 40em;
}


input[type="search"]{
    background-color: #f0f0f0;
    border: 0;
}

#mainView {
    width: 60em;
    padding: 1em;
}

@media screen and (max-width: 736px) {
    #mainView {
        padding: 0em;
    }

    .md-icon-button {
        font-size: 1.0em;
    }
}

/* Slide-In Content */

.trigger {
    cursor: pointer;    
}

.toggleContent {
    max-height: 25em;
    transition: 0.3s max-height ease-in-out, 0.2s padding ease-in-out;
    overflow: hidden;
}

.toggleContent.hideDivbox {
    max-height: 0 !important;
    padding: 0 !important;
}

/****************** Chat *********************/

.chat-message
{
    text-align: left;
    line-height: 170%;
    font-size: 0.9em;
    position: relative;
    padding: 0.2em;
    padding-left: 0.6em;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 1em;
    max-width: 70%;
}

.chat-message:after
{
    content: '';
    position: absolute;
    border-style: solid; 
    top: 3px;            
    display: block;
    width: 0;
    z-index: 1;       
}


.chat-message.received
{
    margin-left: 15px;
    color: white;
    background: #3572B0;
}

.chat-message.received:after
{
    border-width: 12px 12px 12px 0;
    border-color: transparent #3572B0;
    left: -11px;
}

.chat-message.sent
{
    margin-right: 15px;
    color: white;
    background: #205081;
    margin-left: 20%;
}

.chat-message.sent:after
{
    border-width: 12px 0 12px 12px;
    border-color: transparent #205081;
    right: -11px;
}    




/* Pickup Lists */
.pickupList-pickup {
    border: thin solid #dddddd;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0em !important;
}

.pickupList-pickup-left {
    padding: .4em .6em;
}


.pickupList-pickup-right {
    padding: .2em .4em;
    border-radius: 0 5px 5px 0;
}

.pickupList-person {
    padding: .2em;
    margin-right: .4em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 2em;
}


.sideNavPos {

    -webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);
}

/* SignUp and Login */
.logoAbove {
    text-align: center;
    margin: 4em 0 2em 0;
    color: white;
    font-family: Harabara;
    letter-spacing: 0.10em;
}

#main a:hover :not(.iconButton){
    text-decoration: none;
    color: #006000;
    text-decoration: underline;
}

body > div > md-content {
    background-color: #f0f0f0;
}

.footerContent {
    text-align: center;
} 

md-nav-item {
    margin: .5em;
}

md-toolbar.md-medium-small{
    height:42px;
    min-height:42px;
    max-height:42px;
}

md-toolbar.md-medium-small md-autocomplete,
md-toolbar.md-medium-small md-autocomplete-wrap,
md-toolbar.md-medium-small md-autocomplete-wrap input {
    height:32px;
}


md-toolbar.md-tiny{
    height:36px;
    min-height:36px;
    max-height:36px;
    padding: 0;
}

md-toolbar.md-tiny .md-toolbar-tools {
    height:36px;
    min-height:36px;
    max-height:36px;
    font-size: 15px;        
}

/* Dont show darker background when sidenav is open */
md-backdrop.md-sidenav-backdrop{
    position:fixed;
    height: 100%;
}


.communityPickerItem {
    border-style: solid;
    border-radius: 5px;
    border-color: #DDDDDD;
    border-width: 0px;
}

/* Active community in communityPicker */
.communityPickerItem.active {
    border-width: 1px;
    background-color: rgba(251, 175, 54, .07);
}