<div class="md-whiteframe-10dp" style="width: 100%;">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h2><i style="font-size: 1.5em; margin-right: 1em;" class="fa fa-home"></i>Create Community</h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container class="md-block">
                <label>Name</label>
                <input name="Name" ng-model="ctrl.groupData.name"
                       minlength="3" maxlength="100"/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="ctrl.groupData.description" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            
            
            <md-input-container class="md-block">
                <label>Adress</label>
                <textarea ng-model="ctrl.groupData.adress" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            
            <!--
            <md-input-container class="md-block">
                <label>Latitude</label>
                <textarea ng-model="ctrl.groupData.latitude" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            
            
            <md-input-container class="md-block">
                <label>Longitude</label>
                <textarea ng-model="ctrl.groupData.longitude" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            -->
            
            
            <div ng-controller="mapPickerCtrl as mapPickerCtrl">
                <leaflet lf-center="mapPickerCtrl.currentPosition" event-broadcast="mapPickerCtrl.events" markers="mapPickerCtrl.markers" height="20em" width="100%"></leaflet>
            </div>
            

            <div layout="row" layout-align="end center">
                <md-button ng-click="ctrl.closeDialog()">Cancel</md-button>
                <md-button ng-click="ctrl.createGroup()" href="#/" class="md-raised md-primary md-hue-3" type="submit">Create</md-button>
            </div>
            
        </form>
    </md-content>
</div>

