<md-content layout-padding flex class="md-whiteframe-1dp">

    <form editable-form name="editStoreInfoForm" onbeforesave="ctrl.updateInfo($data)">
        <div style="position: relative; min-height: 20em;">
            
            <div style="float: right; max-width: 40%; width:25em; overflow: hidden">
                <y-map-picker position="ctrl.currentStore" markers="ctrl.markers" disabled="!editStoreInfoForm.$visible"
                               update-function="ctrl.updateMarkerPosFn(position)" height="20em" width="100%"></y-map-picker>
            </div>
            
            <h1 class="md-headline" style="display: inline-block;">
                <span  editable-text="ctrl.store.name" e-name="name">{{ctrl.store.name}}</span>
            </h1>
            
            <md-button class="md-icon-button" aria-label="Edit" ng-click="editStoreInfoForm.$show()" ng-hide="editStoreInfoForm.$visible">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </md-button>  
            <br/>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span editable-text="ctrl.store.address" e-name="address">{{ctrl.store.address}}</span></p>
            <p style="width: 100%" editable-textarea="ctrl.store.description" e-name="description">{{ctrl.store.description}}</p>


            
        </div>
        
            <div ng-show="editStoreInfoForm.$visible">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="editStoreInfoForm.$waiting">
                    Save
                </md-button>
                <md-button type="button" ng-disabled="editStoreInfoForm.$waiting" ng-click="ctrl.deleteStore()">
                    Delete Store
                </md-button>
                <md-button type="button" ng-disabled="editStoreInfoForm.$waiting" ng-click="editStoreInfoForm.$cancel()">
                    Cancel
                </md-button>
            </div>
    </form>


    <div style="padding-top: 2em;">
        <y-pickup-list store-id="{{ctrl.store.id}}" show-create-button="true" header="Pickups"></y-pickup-list>
    </div>
</md-content>

