

<div class="logoAbove">
    <img src="../assets/icons/Logo-white.png" alt="Yunity" style="width: 30%;">
    <p>imagine sharing everything</p>
</div>
<md-content layout-padding style="margin-bottom: 4em" ng-controller="LoginCtrl as ctrl" class="md-whiteframe-2dp">

    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
        </div>
    </md-content>

    <form ng-submit='ctrl.signup()'>
        <h2 style="padding: .2em;"> Sign Up! </h2>

        <div layout="row">
            <md-input-container  flex="50">
                <label>First Name</label>
                <input ng-model="ctrl.data.first_name">
            </md-input-container>
            <md-input-container  flex="50">
                <label>Last Name</label>
                <input ng-model="ctrl.data.last_name">
            </md-input-container>
        </div>

        <md-input-container class="md-block">
            <label>Username</label>
            <input ng-model="ctrl.data.display_name"/>
        </md-input-container>
        
        <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="Email" ng-model="ctrl.data.email"
                   minlength="3" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        </md-input-container>

        <div layout="row">
            <md-input-container  flex="50">
                <label>Password</label>
                <input type="password" required name="password" ng-model="ctrl.data.password">
            </md-input-container>
            <md-input-container flex="50">
                <label>Repeat Password</label>
                <input type="password" required name="password" ng-model="ctrl.data.passwordRepeat">
            </md-input-container>
        </div>
        
        <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="ctrl.data.address"/>
        </md-input-container>

        
        <y-map-picker update-function="ctrl.updateMarkerPosFn(position)" height="20em" width="100%"></y-map-picker>
            
        <md-button class="md-raised md-accent" type="submit">Join</md-button>
    </form>


</md-content>
