<div layout="row" class="md-whiteframe-1dp">
    <md-content layout-padding flex>
        <h1 class="md-headline">{{profile.first_name}} {{profile.last_name}}</h1>
        <md-list style="max-width: 30em">
        <h3 class="md-title">Communities</h3>
            <md-list-item>
                <span class="md-primary">FS Darmstadt</span>
                <md-button class="small md-secondary" aria-label="Create Pickup" ng-click="joinGroup('createPickup')">
                    <i style="font-size: 1.2em;" class="fa fa-arrow-right" aria-hidden="true"></i> Join
                </md-button>
            </md-list-item>
            <md-list-item>
                <span class="md-primary">FS Mannheim</span>
                <md-button class="small md-secondary" aria-label="Create Pickup" ng-click="joinGroup('createPickup')">
                    <i style="font-size: 1.2em;" class="fa fa-arrow-right" aria-hidden="true"></i> Join
                </md-button>
            </md-list-item>
            <md-list-item>
                <span class="md-primary">FS</span>
                <md-button class="small md-secondary" aria-label="Create Pickup" ng-click="joinGroup('createPickup')">
                    <i style="font-size: 1.2em;" class="fa fa-arrow-right" aria-hidden="true"></i> Join
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
