<md-content layout-padding ng-controller="communityPickerCtrl" style="padding: 0em">
    <md-toolbar layout="row" class="md-hue-1 md-tiny">
        <div class="md-toolbar-tools trigger" ng-click="show = !show">
            <span ng-show="show" flex>Your Communities</span>
            <span ng-show="!show" flex>{{activeGroup.name}}</span>
            <i class="fa" ng-class="{ 'fa-angle-up': show , 'fa-angle-down': !show  }" aria-hidden="true"></i>
        </div>
    </md-toolbar>
    <md-list flex style="padding: 8px" class="toggleContent" ng-class="{hideDivbox:!show}">
        <md-list-item class="md-2-line communityPickerItem" ng-class="{true: 'active', false: ''}[activeGroup.id == {{ item.id}}]" ng-repeat="item in groups" ng-click="setActiveGroup(item)">
            <i style="font-size: 2em" class="icon md-avatar fa fa-home"></i>
            <div class="md-list-item-text">
                <h3>{{ item.name}}</h3>
            </div>
        </md-list-item>
    </md-list>
</md-content>