<md-content ng-show="storeCtrl.showPanel()" layout-padding ng-controller="storePickerCtrl as storeCtrl" style="margin-top: 1.5em; padding: 0em">
    <md-toolbar layout="row" class="md-hue-1 md-tiny" style="overflow: hidden">
        <div class="md-toolbar-tools trigger" layout-padding>
            <span flex ng-click="storeCtrl.show = !storeCtrl.show">Stores in this Community</span>
            <a ng-click="openPanel('createStore')">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
            <span>
                <i class="fa" ng-click="storeCtrl.show = !storeCtrl.show" ng-class="{ 'fa-angle-up': storeCtrl.show , 'fa-angle-down': !storeCtrl.show  }" aria-hidden="true"></i>
            </span>

        </div>
    </md-toolbar>
    <md-list flex style="padding: 8px; overflow: auto; max-height: 20em" class="toggleContent" ng-class="{hideDivbox:!storeCtrl.show}">
        <md-list-item class="md-2-line communityPickerItem" ng-repeat="item in storeCtrl.stores()" ng-click="storeCtrl.loadStorePage(item)">
            <i style="font-size: 2em" class="icon md-avatar fa fa-shopping-cart"></i>
            <div class="md-list-item-text">
                <h3>{{item.name}}</h3>
            </div>
        </md-list-item>
    </md-list>
</md-content>
