<div ng-controller="pickupListCtrl as pickupListCtrl">
    <div>
        <!-- Menu Bar -->
        <h3 style="display:inline" class="md-title"><i class="icon fa fa-shopping-basket" aria-hidden="true"></i>  Pickups</h3>
        <md-button class="small md-primary md-hue-3" style="font-size: 1.2em;" ng-click="openPanel('createPickup')">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </md-button>
        <md-menu>
            <md-button class="small"  ng-click="$mdOpenMenu()">
                <span hide-xs>Filter</span> <i class="fa fa-filter" aria-hidden="true"></i>
            </md-button>
            <md-menu-content width="4">
                <md-list>
                    <md-list-item>
                        <p>joined</p>
                        <md-checkbox class="md-secondary" ng-model="pickupListCtrl.pickupList.showJoined"></md-checkbox>
                    </md-list-item>
                    <md-list-item>
                        <p>open</p>
                        <md-checkbox class="md-secondary" ng-model="pickupListCtrl.pickupList.showOpen"></md-checkbox>
                    </md-list-item>
                    <md-list-item>
                        <p>full</p>
                        <md-checkbox class="md-secondary" ng-model="pickupListCtrl.pickupList.showFull"></md-checkbox>
                    </md-list-item>
                </md-list>
            </md-menu-content>
        </md-menu>
        <md-button class="small" ng-click="pickupListCtrl.toggleReversed()">
            <span hide-xs>Sort</span> <i class="fa" ng-class="{ 'fa-angle-down': pickupListCtrl.reversed , 'fa-angle-up': !pickupListCtrl.reversed  }" aria-hidden="true"></i>
        </md-button>
    </div>
    <!-- Items -->
    <!--<y-pickuplist></y-pickuplist>-->
    <md-list style="overflow: auto; padding: 0">
        <div ng-repeat="pickupDate in pickups| filter:pickupListCtrl.filterPickups |groupByDate | orderBy:'date':pickupListCtrl.reversed">
            <md-subheader class="md-sticky">{{pickupDate.date| date:'EEEE, dd.MM.yyyy'}}</md-subheader>
            <md-list-item style="padding: 0; min-height: 0;" class="md-2-line" ng-repeat="pickup in pickupDate.items| orderBy:['-date']:pickupListCtrl.reversed">
                <div style="width: 100%" class="pickupList-pickup" layout="row" layout-align="end stretch">
                    <div flex class="pickupList-pickup-left">
                        <span style="margin: 1em 0; padding: .5em;">
                            <span style="margin-right: .5em;" class="md-title">{{pickup.date| date:'HH:mm'}}</span>
                            <span>{{pickup.date| date:'dd.MM.yyyy'}}</span>                        
                        </span>
                        <div style="padding: .5em">
                            <div class="pickuplist-person" ng-repeat="collector in pickup.collector_ids">
                                <img style="width: 2em; height: 2em;" src="assets/images/user.png" class="round"/>
                            </div>
                            <div class="md-caption" style="display: inline-block; margin-left: .3em; margin-top: .3em;">({{pickup.collector_ids.length}}/{{pickup.max_collectors}})</div>
                        </div>
                    </div>
                    <md-button style="margin: 0;" ng-show="{{pickup.isUserMember}}" class="md-accent pickupList-pickup-right">
                        <p>Leave</p>
                    </md-button>
                    <md-button style="margin: 0;" ng-show="{{!pickup.isUserMember && !pickup.isFull}}" class="md-accent md-hue-3 pickupList-pickup-right">
                        <p>Join</p>
                    </md-button>
                    <md-button ng-disabled="true" style="margin: 0;" ng-show="{{!pickup.isUserMember && pickup.isFull}}" class="md-accent pickupList-pickup-right">
                        <p>Full!</p>
                    </md-button>

                </div>
            </md-list-item>
        </div>
    </md-list>
</div>